<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Please Log In</title>
</head>
<body style="text-align: center; background-color: cadetblue">
<div>
  <h1>Пожалуйста авторизируйтесь</h1>


    <div>
      <input type="text" name="username" placeholder="Username"/>
    </div>
    <div style="margin-top: 10px">
      <input type="password" name="password" placeholder="Password"/>
    </div>
    <div style="margin-top: 10px; color: black">
      <input type="submit" value="Log in" />
    </div>
  </form>
</div>
</body>
</html>