<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://wwww.thymeleaf.org">


<head>
    <meta charset="UTF-8">
    <style>
      .error {
        color: red;
      }
    </style>
    <title>Currency converter</title>
</head>
<body>



  <h1>Register</h1>
  <form method="POST" action="#" th:action="@{/register}" th:object="${registrationForm}" class="error">
    <div>
      <label for="username">Username: </label>
      <input type="text" th:field="*{username}"/><br/>
      <p th:if="${#fields.hasError('username')}"
         th:class="${#fields.hasErrors('email')}? error"
         th:errors="*{username}"/>
    </div>

    <label for="password">Password: </label>
    <input type="password" name="password"/><br/>

    <label for="confirm">Confirm password: </label>
    <input type="password" name="confirm"/><br/>

    <label for="role">Choose role: </label>
    <select name="role" id="role">
      <option value="user">User</option>
      <option value="manager">Manager</option>
      <option value="admin">Admin</option>
    </select>
    <br/>

    <input type="submit" value="Register"/>

    <p>Click
      <a th:href="@{/login}">here</a> to login.
    </p>

  </form>
</body>
</html>