<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://wwww.thymeleaf.org">


<head>
    <meta charset="UTF-8">
    <title>Currency converter</title>
</head>
<body style="text-align: center; background-color: cadetblue">




  <h1>Регистрация</h1>
  <form method="POST" th:action="@{/register}" id="registerForm">
    <label for="username">Username: </label>
    <input type="text" name="username"/><br/>

    <div style="margin-top: 10px">
      <label for="password">Password: </label>
      <input type="password" name="password"/><br/>
    </div>
    <br/>

    <input type="submit" value="Зарегестрироваться"/>

    <p>Click
      <a th:href="@{/login}">here</a> to login.
    </p>

  </form>
</body>
</html>