<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://wwww.thymeleaf.org">


<head>
    <meta charset="UTF-8">
    <title>Currency converter</title>
</head>
<body>
  <div th:if="${error}">
    Check that password confirmation equals password.
  </div>



  <h1>Register</h1>
  <form method="POST" th:action="@{/register}" id="registerForm">
    <label for="username">Username: </label>
    <input type="text" name="username"/><br/>

    <label for="password">Password: </label>
    <input type="password" name="password"/><br/>

    <br/>

    <input type="submit" value="Register"/>

    <p>Click
      <a th:href="@{/login}">here</a> to login.
    </p>

  </form>
</body>
</html>